<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf8">
    <title>Welcome!! {{title}}</title>
    <meta name="description" content="beez">
    <meta name="keywords" content="beez">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta http-equiv="Pragma" content="no-cache">
    <link href="/__beez_foundation__/style/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/__beez_foundation__/style/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/__beez_foundation__/style/style.css" rel="stylesheet">

    <script type="text/javascript" src="/__beez_foundation__/js/vendor/zepto.min.js"></script>
    <script type="text/javascript" src="/__beez_foundation__/js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="/__beez_foundation__/js/vendor/suns.min.js"></script>
    <script type="text/javascript" src="/__beez_foundation__/js/beez-lite.js"></script>
    <script type="text/javascript" src="/__beez_foundation__/js/{{view}}.js"></script>

    <style type="text/css">
    </style>

    <script>
      $(function(){
          if (beez.{{view}}.render) {
              beez.{{view}}.render();
          } else {
              throw new Error('beez.{{view}}.render not defined.');
          }
      });
    </script>
  </head>
  <body>
    <section class="container">
    {{{body}}}
    </section>
  </body>
</html>
